
.plus-sign{
    font-size: larger;
    padding:0;
    margin: 0;
    font-weight: bolder;
}

.back-btn button{
    all:unset;
    cursor:pointer;
    background-color:#6366F1 ;
    color:white;
    padding:10px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;

}

.back-btn button:hover{
    transform: scale(1.2);
}

