.authentication-option{
    display:flex;
    justify-content: center;
    margin-top:20px;
}

.authentication-option button{
    all:unset;
    color:blue;
}

.authentication-option button:hover{
    color:red;
    cursor: pointer;
}

.error{
    color:red;
    display:inline;
}

form{
    display:flex;
    flex-direction:column;
    width:50%;
    align-items:center;
    margin:0 auto;
}

form input{
    width:50%;
}

.input-wrapper{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight:400;
    color:#0F172A;
}
.input-wrapper label{
    width:140px;
    text-align:left;
}

.input-wrapper input{
    width:300px;
    height:30px;
    border:none;
}

button{
    margin:0 auto;
    font-family: inherit;
    font-weight:500;
    border:none;
    background-color: #6366F1;
    border-radius: 5%;
    width:fit-content;
    font-size: 1.1rem;
    color:white;
    padding:5px 10px;
    margin-top:20px;
}

.page-heading{
    text-align:center;
    color:#6366F1;
}