.authentication-option{
    display:flex;
    justify-content: center;
    margin-top:20px;
}

.authentication-option button{
    all:unset;
    color:blue;
}

.authentication-option button:hover{
    color:red;
    cursor: pointer;
}

.error{
    color:red;
    display:inline;
}

form{
    display:flex;
    flex-direction:column;
    width:50%;
    align-items:center;
    margin:0 auto;
}

form input{
    width:50%;
}

.input-wrapper{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight:400;
    color:#0F172A;
}
.input-wrapper label{
    width:140px;
    text-align:left;
}

.input-wrapper input{
    width:300px;
    height:30px;
    border:none;
}

.auth-btn{
    margin:0 auto;
    font-family: inherit;
    font-weight:500;
    border:none;
    background-color: #6366F1;
    border-radius: 5%;
    width:fit-content;
    font-size: 1.1rem;
    color:white;
    padding:5px 10px;
    margin-top:20px;
}

.page-heading{
    text-align:center;
    color:#6366F1;
}

.avatars{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:50%;
    margin: 50px auto;
    gap:20px;
    justify-items: center;
}
.avatars img{
    transition: transform 0.3s ease;
}

.avatars img:hover{
    transform: scale(1.1);
}

.avatars button{
    all:unset;
}

.avatar-heading{
   text-align: center;
}

.upload-input{
    display:none;
}
.upload-btn {
  display: block;
  background-color: #6366F1;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
width:125px;
text-align: center;
margin:0 auto;
}
.uploaded-avatar{
 display:flex;
   justify-content: center;
   align-items: center;
   height:100vh;
   flex-direction: column;
  
}
.uploaded-avatar img{
    width:200px;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px; 
  
}

.avatar-submit{
    all:unset;
     background-color: #6366F1;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
width:100px;
text-align: center;
}
