.dashboard-layout .footer-dashboard{
  grid-area:footer;
}

.dashboard-layout .header-dashboard{
    grid-area: header;
}

.dashboard-layout .main{
    grid-area: main;
}

.dashboard-layout .sidebar{
    grid-area: sidebar;
}

.dashboard-layout{
    min-height: 100vh;
    display: grid;

    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}
