.navigation-bar-project{
    position: fixed;
    top: 90px;
    left: 0;
    width: 280px;
    min-height: calc(100vh - 90px);
    z-index: 10;
}

.project-nav-chevron{
    all:unset;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#6366F1;
    border-radius:50%;
    cursor:pointer;
    width:36px;
    height:36px;
}

.project-nav-chevron span{
    display:block;
    width:12px;
    height:12px;
    border-top:6px solid #fff;
    border-right:6px solid #fff;
}

.project-nav-chevron-open{
    position:fixed;
    left:20px;
    top:130px;
    z-index: 10;
}

.project-nav-chevron-open span{
    transform:rotate(45deg);
}

.project-nav-chevron-close{
    position:absolute;
    right:-18px;
    top:40px;
}

.project-nav-chevron-close span{
    transform:rotate(225deg);
}

.project-page-layout{
    display: grid;
    grid-template-areas: 
    "header header"
    "navigation main"
    "footer footer";
    grid-template-columns: 64px 1fr;
     transition: grid-template-columns 0.5s ease-out;
}

.project-page-layout.nav-open {
    grid-template-columns: 300px 1fr;
}

.footer-project{
    grid-area:footer;
}

.header-project{
    grid-area:header;
}

.main-project{
    margin:50px 0 0 30px;
    grid-area:main;
    min-height: 80vh;

}
.main-project h1{
    text-align: left;
}
.navigation-bar-project{
    grid-area:navigation;
}

.project-back-button{
  all:unset;
  background-color: #6366F1;
  width:fit-content;
  color:white;
  font-weight:bolder;
  padding:10px;
  border-radius:10px;
}


.members-project{
       width:20%;
    float: right;
    text-align: center;
}


.member-detail-project{
    display: flex;
    align-items: center;
    
}
.add-member-button-project button{
    all:unset;
    background-color: #6366F1;
    color:#fff;
    padding:10px;
    border-radius:10px;
    transition: all 0.3s ease;

}

.add-member-button-project button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.member-detail-project img{
    width:30px;
    height:30px;
    border-radius:50%;
    object-fit: cover;
}

.additional-add-member button{
    border-radius: 50%;
    line-height: 1;
    padding:5px 8px;

}
