.header{
    display:flex;
    width:100%;
    align-items: end;
    
}

.main-icon{
    margin-left: auto;
}

.user-menu {
  margin: 2vh 2vw 0 auto;
  position: relative;
}

.search-logo{
    z-index: 1;
    position:absolute;
    top:10px;
    left:10px;
}

.search-input{
    margin-left:auto;
    position:relative;
}

.search-input input{
    padding:0 35px;
    box-sizing: border-box;

    border-radius:10px;
    width:12vw;
    height:2vw;
    background-color: #E0E3E5;
    text-align: center;
    border-style: none;
    transition: 0.3s ease;
}

.search-input input:focus::placeholder{
    color:transparent;
}

.search-input input:hover{
    width:14vw;
}

.user-image {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
}

.user-settings{
position:absolute;
right:75px;
background-color:#E0E3E5;
width:250px;
border-radius: 20px;

opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
}

.user-settings .user-img-name img{
  width:50px;
  height:50px;
}

.user-settings .user-img-name{
    padding:20px 0;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-settings hr{
    margin:0;
}

.user-settings-btn a{
    display:block;
    text-decoration: none;
    margin: 10px 20px;
}

.user-settings-btn a:hover{
    font-weight:bold;
}

.show{
   opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}